.list-container{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100vh;
    transform: translate(-50%, -50%);
}

.lista{
    background-color: #F3F3F3;
    text-align: center;
    margin-top: 5%;
    border: 2px solid black ;
    height: 80%;
    width: 50vw;
    overflow-y: auto;
    border-radius: 25px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

ul{
    list-style-type: none;
    padding: 0% 0% 0% 0%;
    margin: 1% 1% 1% 1%;
}

li{
    margin-bottom: 8px;
}

.criar-img{
    position: absolute;
    bottom: 15%;
    right: 5%;
    font-size: 40px;
    margin: 0 auto;
    padding: 0;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(0, 89, 255);
    text-align: center;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.criar-img:hover{
    background-color: rgb(0, 45, 129);
    transition: 0.5s;
}

.criar-img p{
    display: inline;
    margin: 0 0 0 0;
    padding: 0;
}

@media(max-width: 1000px){

}

@media (max-width: 600px) {
.lista{
    width: 90vw;
}
}