<div class="list-container">
    <div>
        <app-header-lista/>
    </div>
    <div class="lista">
        @if (despesas().length > 0) {
            <ul>
                @for (desp of despesas(); track $index) {
                    <li>
                        <app-despesa [Despesa]="desp"/>
                    </li>
                }
            </ul>
        }
        @else {
            <h2>Nenhuma despesa encontrada!</h2>
        }
        <button class="criar-img" (click)="onCriarClick()"><p>+</p></button>
    </div>
</div>

@if (this.isFormsOpen()) {
  <app-despesa-form/>
}

