<div class="header">

    <div class="filters" #filters>
        <div>
            <button (click)="onSortByClick(sortBy, categories)">Ordenar por</button>
            <div class="sortBy hide" #sortBy>
                <ul>
                    <li (click)="onSortBySelect('MaiorValor')">Maior valor</li>
                    <li (click)="onSortBySelect('MenorValor')">Menor Valor</li>
                    <li (click)="onSortBySelect('MaisRecente')">Mais recentes</li>
                    <li (click)="onSortBySelect('MaisAntiga')">Mais Antigas</li>
                </ul>
            </div>
        </div>

        <div>
            <button (click)="onCategoriesClick(categories, sortBy)">Categorias</button>
            <div class="categories hide" #categories>
                <ul>
                    <li (click)="onCategorySelect('Todas')">Todas</li>
                    <li (click)="onCategorySelect('Nenhuma')">Nenhuma</li>
                    <li (click)="onCategorySelect('Alimentacao')">Alimentação</li>
                    <li (click)="onCategorySelect('Lazer')">Lazer</li>
                    <li (click)="onCategorySelect('Roupas')">Roupas</li>
                    <li (click)="onCategorySelect('Saude')">Saude</li>
                    <li (click)="onCategorySelect('Outra')">Outra</li>
                </ul>
            </div>
        </div>

    </div>
    
    <img src="logout.png" class="logout-img" (click)="onLogoutClick()">
    <a [routerLink]="['/resumo']">
        <img src="analytics.png" class="analytics-img">
    </a>
</div>
