@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Share+Tech+Mono&display=swap');
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100vh;
    transform: translate(-50%, -50%);
}

.dashboard{
    background-color: #F3F3F3;
    border: 2px solid black ;
    height: 90%;
    width: 75vw;
    border-radius: 25px;
    overflow-y: auto;
    display: grid;
    column-gap: 20px;
    row-gap: 25px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 3rem auto auto auto;
    text-align: center;
    grid-template-areas: 
    "title title title title"
    "monthly monthly annual annual"
    "byMonth byMonth byMonth byMonth"
    "byCategory byCategory byCategory byCategory";
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 25px;
  margin-bottom: 20px; 
  margin-top: 20px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.totalSpend{
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    width: 80%;
    margin: 15px auto 15px auto;
    grid-row: 1/2;
}

.monthly{
grid-area: monthly;
}

.annual{
grid-area: annual;
}

.totalSpend .value{
    font-size: 40px;
    font-family: 'Lexend Giga'
}

.byMonth{
    grid-area: byMonth;
    height: 45vh;
    width: 68vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

.byCategory{
    grid-area: byCategory;
    height: 50vh;
    width: 68vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}



.label{
    color: #7C7E7D;
    font-size: 20px;
}

h1{
    grid-area: title;
    font-family: 'Share Tech Mono'
}

.header{
    text-align: left;
}

.header-img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}
@media(max-width: 600px){
.dashboard{
    grid-template-rows: 3rem auto auto auto auto;
    text-align: center;
    grid-template-areas: 
    "title title title title"
    "monthly monthly monthly monthly"
    "annual annual annual annual"
    "byMonth byMonth byMonth byMonth"
    "byCategory byCategory byCategory byCategory";
}
}
