<div class="container">
    <div class="dashboard">
        <p class="totalSpend annual">Total gasto no ano: {{resumo().totalGastoAno}}</p>
        <p class="totalSpend monthly">Total gasto no mês: {{resumo().totalGastoMes}}</p>
        <div class="byMonth">
            <app-bar-chart [data]="gastoPorMesData" [label]="gastoPorMesLabel"></app-bar-chart>
        </div>
        <div class="byCategory">
            
        </div>
        <p class="byDay"> Gráfico de gastos por dia</p>
    </div>
</div>

